.form-page {
    padding: 3rem;
}


.form-content-left,
.form-content-right {
    width: 50%;
    padding: 0 1rem;
}

.form-content-left {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 2rem 0;
}

.form-content-right {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.form {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
    width: 90%;
}

.form-content {
    margin: 2rem 1rem;
    /* padding: 1rem; */

    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
}

.form-heading {
    margin-bottom: 2.5rem;
}

.form-heading h1 {
    font-size: 2rem;
    color: #213F7D;
}
.form-heading p {
    font-size: 0.9rem;
    color: #545F7D,;
}

.form-inputs {
    margin-bottom: 2rem;
    width: 100%;
}
.form-input {
    /* margin-bottom: 0.5rem; */
    width: 80%;
    padding: 0.8rem 1rem;

    background: #FFFFFF;
    border: 2px solid rgba(84, 95, 125, 0.15);
    border-radius: 5px;

}
.form-input::placeholder {
    color: #545F7D;
    font-size: 0.75rem;
    font-weight: lighter;
}

.form .password-forget {
    text-align: left;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #39CDCC;
    font-size: 0.9rem;
    font-weight: bold;

    margin-bottom: 1rem;
}

.password-input{
    position: relative;
}
.password-show {
    position: absolute;
    top: 25%;
    right: 25%;

    font-size: 0.75rem;
    color: #39CDCC;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

.form-input-btn {
    background: #39CDCC;
    color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 8px;

    width: 80%;
    padding: 0.75rem 1rem;
    cursor: pointer;
}
.form-input-btn:hover {
    background: #39CDff;
}



.form-error {
    color: red;
}

@media screen and (max-width: 992px) {
    .form-page {
        padding: 2rem 2rem;
    }
    .form-content {
        margin: 2rem 0;
        /* padding: 1rem; */
    
        /* display: flex; */
        flex-direction: column;
        flex-wrap: wrap;
        /* align-items: center; */
    }
    .form-content-left,
    .form-content-right {
        width: 100%;
    }
    .form-content-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-content-left {
        display: none;
    }
    .form {
        border: none;
        padding: 2rem;
        width: 100%;

        border-radius: 1rem;
        box-shadow: 4px 4px 8px 0px rgba(70, 70, 70, 0.38);
    }

    .password-show {
        position: absolute;
        top: 28%;
        right: 5%;
    }

    .form-input,
    .form-input-btn {
        width: 100%;
    }
}