/* util */
.mb-sm {
    margin-bottom: 0.75rem;
}

.users-body {
    background: #E5E5E5;
    padding: 2rem;
}

.dashboard-header {

    color: #213F7D;
    font-size: 2rem;
}

.table-wrapper {
    margin: 2rem 0;
    padding: 1rem;
    overflow-x: auto;

    background: #FFFFFF;
    /* border: 1px solid rgba(33, 63, 125, 0.06); */
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}
.table-data-header tr th {
    border: none;
    font-size: 0.85rem;
}
.table-data-body {
    font-size: 0.75rem;
}


.react-bootstrap-table table {
    /* margin: 2rem 0 1rem; */
    /* padding: 1rem; */
    

    /* background: #FFFFFF; */
    
    table-layout: fixed;
    /* overflow-x: auto; */
    display: block;
    /* box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04); */
}
.react-bootstrap-table > .table > thead > tr > th,
.react-bootstrap-table > .table > tbody > tr > th,
.react-bootstrap-table > .table > tfoot > tr > th,
.react-bootstrap-table > .table > thead > tr > td,
.react-bootstrap-table > .table > tbody > tr > td,
.react-bootstrap-table > .table > tfoot > tr > td {
        white-space: nowrap;
}
    