

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}

body {
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
}

@media screen and (max-width: 992px)  {
  /* body {
    font-size: calc(0.75rem + 1vw);
  } */
}